.input-field {
  font-size: 40px;
}

.standard-button {
  background-color: transparent;
}

.input-budget {
  font-size: 32px;
}

.percent_of_budget {
  color: darkgrey;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto
}
