<md-card class="budget-card">

  <div *ngIf="(!budget)">
    <md-spinner class="center"></md-spinner>
  </div>

  <div *ngIf="editingBudget">
    <md-card-content>
      <form>
        <input #budget mdInput class="input-budget" placeholder="Enter your budget" autofocus>
      </form>
    </md-card-content>
    <md-card-actions>
      <button class="standard-button" md-button (click)="updateBudget(budget.value)">SAVE</button>
    </md-card-actions>
  </div>
  <div *ngIf="(budget && !editingBudget)">
    <md-card-title-group>
      <h1>{{totalCost}} <small class="percent_of_budget">({{ percentOfBudget }}% of budget)</small></h1>
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item>
          <a (click)="console.log(1)">
            <md-icon>edit</md-icon>
            <span>Edit budget</span>
          </a>
        </button>
      </md-menu>
    </md-card-title-group>

    <canvas class="center" baseChart width="500px" height="200px" *ngIf="barChartData.length > 0"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="barChartColors">
    </canvas>
  </div>
</md-card>
