@import 'src/assets/css/_theme';

.table-tools {
  background: #fff;
  border-bottom: 1px solid #d0d0d0;
  margin: 50px 0 15px;

  .tool {
    a {
      padding-left: 0;
    }
  }
}

table {
  td { 
    padding: 5px 10px;
    border-radius: 0;
  }
  th {
    padding-right: 10px;
    padding-left: 10px;
  }
}

tbody tr {
  border: 1px solid #d0d0d0;
  background: #fff;
  &.selected {
    background-color: $accent-color;
    td, a {
      color: #fff;
    }
  }
}

thead th {
  color: rgba(0,0,0,.4);
  font-weight: 500;
}

td.img {
  text-align: center;
  width: 50px;
  img {
    height: 35px;
    width: 35px;
    display: block;
  }
}

.table-tools i, .table-tools a {
  transition: color .28s ease;
}

.table-tools i {
  color: #616161;
}

.table-tools .selector i {
  color: #9e9e9e;
}

.table-tools .selector a, .table-tools .layout-changer a {
  text-transform: uppercase;
  color: #424242;
  font-size: 0.8rem;
}

.table-tools .layout-changer a {
  font-size: 0.7rem;
}

.table-tools .layout-changer a, .table-tools .layout-changer a i {
  color: #9e9e9e;
}

.table-tools a:hover, .table-tools .selector a:hover, 
.table-tools .selector a:hover i, .table-tools a:hover i, .table-tools .layout-changer a:hover,
.table-tools .layout-changer a:hover i {
  background-color: transparent;
  color: $accent-color;
}

.table-tools .layout-changer a.active, .table-tools .layout-changer a.active i {
  color: #616161;
}

.table-header-bg .bg {
  background: #fff;
  height: 52px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  margin-top: 1px;
  border-bottom: 1px solid #d0d0d0;
}

.filter {
  display: inline-block;
}

a.remove-filter {
  padding: 0 0 0 15px;
  display: inline-block;
  i {
    font-size: 1rem;
    position: relative;
    top: 3px;
  }
}